<%= form_for project, url: workspace_project_path(current_workspace, project), remote: true do |f| %>
  <div class="mt-6">
    <%= f.label :name, class: "block mb-2 text-sm" %>
    <%= f.text_field :name, placeholder: "Survey name", class: "block w-full p-2 bg-gray-200 rounded" %>
    <div class="mt-2 mx-1 text-sm">
      <%= project.errors[:name].join(" ") %>
    </div>
  </div>

  <div class="d-flex flex-column-reverse flex-sm-row mt-3 mt-sm-5">
    <%= f.submit "Save changes", class: "button-outline mt-5" %>
  </div>
<% end %>
